.popup__container {
    width: 430px;
    min-height: 181px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    transition: ease 0.9s;
  }
  
  @media screen and (max-width: 555px) {
    .popup__container {
      width: 240px;
    }
  }

  